.footer {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  color: grey;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer a {
  color: #DDA0DD;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
